doctype html
html
    head
        title= title
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js')
        script(src='/javascripts/global.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
